
.navbar-brand img{
    width: 60px;
}
.navbar{
    background-color: rgb(255, 166, 0);
}
.user{
    background-color: #bb5502;
    border-radius: 50%;
}
.shopping-cart{
    background-color: black;
}
.fist-image{
    height: 100%;
    width: auto;
    margin-top: 42px;
}
.gllery{
    height: 320px;
}
footer{
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    width: 100%;
    height: 10%;
}
footer div p{
    padding-top: 10px;
}

/* product */
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail p{
    font-size: 20px;
}
h1{
    font-size: 40px;
}
